version: '3.9'

services:
  db:
    image: postgres:16
    container_name: myapp-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./src/db/db-init:/docker-entrypoint-initdb.d

  backend:
    build: .
    container_name: myapp-backend
    ports:
      - '5000:5000'
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOST: ${DB_HOST}
    depends_on:
      - db

volumes:
  pgdata:
